<!-- Double Stacked Footer -->
<div class="footer-top">
  <div class="container">
    <div class="col-xs-3 text-left">
      <a class="marvel-logo" href="/">
        <%= image_tag 'Marvel-logo-01.png', height: '50' %>
      </a>
    </div>
    <div class="col-xs-2">
      <!-- spacing div -->
    </div>
    <div class="col-xs-9 text-center">
      <ul class="footer-button footer-list white pull-right">
        <li>
          <div class="parallelogram-long font-primary">
            <a ui-sref='home.hall-of-heroes'>HALL OF HEROES</a>
          </div>
        </li>  
        <li>
          <div class="parallelogram font-primary">
            <a ui-sref='home'>HOME</a>
          </div>
        </li>  
        <li>
          <div class="parallelogram font-primary">
            <a ui-sref='home.about'>ABOUT</a>
          </div>
        </li>  
      </ul>  
    </div>  
  </div>  
</div>
<div class="navbar navbar-default footer navbar-inverse" >
  <div class="font-primary grey">
    <div class="container">
      <div class="col-xs-6 footer-middle">
        <p class="white font-small text-left">"Data provided byMarvel. © 2015"</p>
      </div>
      <div class="col-xs-4 footer-middle">
        <p class="white font-small text-left">built by AM © 2014</p>
      </div>
      <div class="col-xs-2">
        <p class="white font-small text-right">empowered by <br>WDI DTLA-01
        </p>
        <a class="ga-logo" href="http://www.generalassemb.ly" target="_blank">
          <%= image_tag 'GA-logo-01.png', height: '32' %>
        </a>
      </div>
    </div> 
  </div>  
</div>