<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="col-md-10 col-md-offset-1"> 
    <div class="navbar-left font-primary">
      <a href="/">
        <%= image_tag 'Marvel-logo-01.png', height: '75' %>
      </a>
    </div>
    <div class="navbar-right">
      <ul class="header-list font-primary font-small">
        <li><a ui-sref='home.hall-of-heroes'>Hall of Heroes</a></li>
        <li><a ui-sref='home'>Home</a></li> 
        <li><a ui-sref='home.about'>About</a></li> 
      </ul>
    </div>
  </div>  
</div>