<div ng-controller='HallOfHeroesController'>  
  <div class="stripe-light">
    <div class="col-md-6 font-primary">
      <h1>Hall of Heroes</h1>
      <p>angular route test {{6*7}}</p>
    </div>
  </div>
</div>