<div ng-controller='HeroResultController'>  
  <div class="stripe-light">
    <div class="container">
      <div class="col-xs-4 col-md-offset-1 text-center red">
        <div class="marvel-shape-hero-results">
          <div class="result-rect">
            <p class="font-medium white text-left font-secondary">TOP FACIAL MATCHES</p>
            <div class="results-matches-img">
              <a href="http://marvel.com/characters/29/iron_man" target="blank"><%= image_tag "marvel-image-iron-man-02.png"%></a>
              <div class="result-text">
                <p class="font-primary font-large white">52%</p>
                <p class="font-secondary font-small black font-name">IRON MAN</p>
              </div>   
            </div>
            <div class="results-matches-img">
              <a href="http://marvel.com/characters/31/jean_grey" target="blank"><%= image_tag "marvel-image-jean-grey-02.png"%></a>
              <div class="result-text">  
                <p class="font-primary font-large white">30%</p>
                <p class="font-secondary font-small black text-center font-name">JEAN GREY</p>
              </div> 
            </div>
            <div class="results-matches-img">
              <a href="http://marvel.com/characters/14/dr_strange" target="blank"><%= image_tag "marvel-image-dr-strange-02.png"%></a>
              <div class="result-text">
                <p class="font-primary font-large white">19%</p>
                <p class="font-secondary font-small black font-name">DR. STRANGE</p>
              </div>  
            </div>
          </div>  
        </div>  
      </div>  
      <div class="col-xs-7 text-center black">
        <div class="marvel-shape-hero-after">
        </div> 
        <div class="marvel-shape-hero">
          <p class="font-secondary font-large white text-center">SUPERNAME:</p>
          <p class="font-secondary font-xlarge red text-center">"METAL BOY"</p>
        </div>
        <div class="marvel-hero-img">
          <%= image_tag "supername-metal-boy-01.png"%>
        </div>
        <div class="result-hall">
          <a ui-sref="home.hall-of-heroes">
            <p class="white font-primary">SAVE SUPERNAME TO THE HALL OF HEROES</p>
          </a>
        </div> 
      </div>  
    </div>
    <div class="parallelogram-again">
      <a class="font-secondary font-medium white font-input" ui-sref="home.hero">ENTER ANOTHER INSTAGRAM NAME </a>
    </div>
  </div>
</div>

