<div ng-controller='HeroResultController'>  
  <div class="stripe-light">
    <div class="container">
      <div class="col-xs-4 col-md-offset-1 text-center red">
        <div class="marvel-shape-hero-results">
          <h1>Hero Result</h1>
        </div>  
      </div>  
      <div class="col-xs-7 text-center black">
        <div class="marvel-shape-hero">
          <h1>Hero Result</h1>
        </div>  
      </div>  
    </div>
    <div class="play-again"
      <h2 class="font-primary">PLAY AGAIN</h2>
      <div class="parallelogram-enter">
        <a class="font-secondary font-medium white font-input" ui-sref="home.hero">ENTER INSTAGRAM NAME OR PHOTO URL</a>
      </div>
    </div>
  </div>
</div>

