<div class="home-view stripe-dark">
  <div class="col-md-10 col-md-offset-1 text-center">
    <div class="marvel-shape ">
      <div class="marvel-hero">
        <!-- <p>angular route test {{6*7}}</p> -->
        <div class="parallelogram-enter">
          <button  class="font-secondary font-medium white font-input" ui-sref="home.hero/001">ENTER INSTAGRAM NAME OR PHOTO URL</button>
          <!-- <input type="text" name="name" ng-model="food.name"> 
          <h1 class="font-secondary font-medium white font-input">ENTER INSTAGRAM NAME OR PHOTO URL</h1>-->

        </div>
      </div>
      <div class="home-image-large">
        <div class="font-box">
          <h1 class="font-primary font-large text-left">
          WHICH MARVEL CHARACTER DO YOU LOOK LIKE?
          </h1>
          <h1 class="font-primary font-medium text-left">
          ENTER AN INSTAGRAM USER NAME OR PHOTO URL TO FIND
          YOUR MARVEL LOOK-A-LIKE & YOUR <span>SUPERNAME!</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div ui-view> </div>
