$color-primary: white;
$color-secondary: red;
$color-tertiary: black;
$color-quaterary: darkgrey;

// $marvel-image-background: "marvel-image-hulk-01.png";
$marvel-image-background: "marvel-image-storm-01.png";
// $marvel-image-background: "iron-man-01.png";