/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";
@import "marvels";
@import "variables";

@font-face {
  font-family: "TradeGothic";
  src:font-url('fonts/trade_gothic.ttf');
}

@font-face {
  font-family: "Badabb";
  src:font-url('fonts/BADABB__.TTF');
}

@font-face {
  font-family: "SfComic";
  src:font-url('fonts/sf_comic.TTF');
}

.font-primary {
  font-family: "TradeGothic";
  font-size: 1.5em;
  margin: 0px;
  font-weight: 100;
}
.font-secondary {
  font-family: "Badabb";
  font-size: 2.5em;
  margin: 0;
}
.font-tertiary {
  font-family: "Pagal";
  font-size: 2.5em;
  margin: 0;
}

.font-small {
  font-size: .75em;
}
.font-medium {
  font-size: 1.75em;
}
.font-medium span{
  font-family: "Badabb";
  font-size: 2.25em;
  font-weight: bold;
  color: $color-secondary;
}
.font-large {
  font-size: 3.5em;
}
.font-xlarge {
  font-size: 5.5em;
}
.font-box {
  transform: translate(46.5em, .00625em);
  width: 24em;
  height: 5em;
  // background-color: $color-primary;
}
.font-input {
  transform: translate(0, 50%);
}
.font-name {
  display: block;
  transform: translate(-10%, -10%);
}
.result-text{
  margin: -.25em;
  transform: translate(-3.25em, 0em);  
}
.push-left img{
  transform: translate(-45%, 0);
}
.hall-header p{
  transform: translate(.75em, .5em);
  text-shadow: .075em .075em $color-secondary;
}
.subtle-pattern {
  background-image: url("stripe-light-01.png");
  // height: 1000px;
  width: 100%;
  // z-index: -2000px;
}

.container-fluid {
  padding: 0;
}

.photos {
  display: inline-block;
  position: relative;
  font-size: 2em;
  margin-top: 5em;
  text-align: center;
}
.graphic {
  font-size: 15em;
  font-style: bold;
  color: darkgrey;
}
.image-upload {
  display: inline-block;
  width: 10em;
  height: 10em;
  background-color: white;
  border: .5em; 
  border-radius: 250px;
}
ul {
  list-style-type: none;
}

h1 {
  margin-top: 0;
}
// COLOR variables
.white {
  color: $color-primary;
}
.red {
  color: $color-secondary;
}
.black {
  color: $color-tertiary;
}
// NAV BARS, headers and footers
.navbar-fixed-top {
  height: 50px;
  position: relative;
  margin-bottom: 0px;
}
.footer {
  height: 50px;
  position: relative;
  border-radius: 0px;
  bottom: 0;
  margin-top: 1em;
  margin: auto 0;
  background-color: black;
}
.footer-middle {
  transform: translate(0%, 50%)
}

.ga-logo {
  right: -4em;
  top: -2.25em;
  display: inline-block;
  position: relative;
  transform: translate(38%, 3%);
}

.marvel-logo img{
  top: -2.25em;
  transform: translate(0%,23%);
  // transform: translate(-25%, 90%);
}
.footer-top {
  position: relative;
  width: 100%;
  // height: 100px;
  background-color: black;
  opacity: .85;
}
.footer-list {
  display: inline-block;
  text-decoration: none;
  margin: 1.5em .5em;
  padding-left: 0;
  right: 1em;
  transform: translate(7%,12%)
} 
.footer-list li{
  display: inline-block;
}

.header-list li{
  font-size: 2em;
  display:  inline-block;
  text-decoration: none;
  padding:  .25em;
}

.header-list li:hover{
  font-size: 2.125em;
  // transition: 1s;
}
.header-list li a{
  color: white;
}
// BACKGROUND STRIPING
.stripe-dark {
  width: 100%;
  height: 650px;
  background-image: url("stripe-dark-01.png");
}
.stripe-light {
  width: 100%;
  height: 650px;
  background-image: url("stripe-light-01.png");
}
// HOME PAGE STYLING

.home-view {
  width: 100%;
  height: 600px;
  background-image: url("stripe-dark-01.png");
}