/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";
@import "marvels";

@font-face {
  font-family: "Trade-gothic";
  src:font-url('trade_gothic.ttf');
}

@font-face {
  font-family: "Badabb";
  src:font-url('BADABB__.TTF');
}

@font-face {
  font-family: "Pagal";
  src:font-url('Pagal_Font.TTF');
}

.font-primary {
  font-family: "Pagal";
  font-size: 1.5em;
}
.font-secondary {
  font-family: "Badabb";
  font-size: 2.5em;
}

.navbar-fixed-top {
  height: 75px;
  position: relative;
}
.navbar-fixed-bottom {
  height: 75px;
  postion: relative;
}
.subtle-pattern {
  background-image: url("stripe-light-01.png");
  // height: 1000px;
  width: 100%;
  // z-index: -2000px;
}
.white {
  color: white;
}


.container-fluid {
  padding: 0;
}

.photos {
  display: inline-block;
  position: relative;
  font-size: 2em;
  margin-top: 5em;
  text-align: center;
}
.graphic {
  font-size: 15em;
  font-style: bold;
  color: darkgrey;
}
.image-upload {
  display: inline-block;
  width: 10em;
  height: 10em;
  background-color: white;
  border: .5em; 
  border-radius: 250px;
}
.header-list li{
  font-size: 2em;
  display:  inline-block;
  text-decoration: none;
  padding:  .25em;
}

.header-list li:hover{
  font-size: 2.125em;
  // transition: 1s;
}
.header-list li a{
  color: white;
}